* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100vw;
  height: 100vh;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.ant-layout-sider-zero-width-trigger {
  background: #1990FF !important;
}
#nprogress .bar {
  background: #7546C9 !important;
}
