*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
  width: 100vw;
  height: 100vh;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

// 侧边栏按钮颜色
.ant-layout-sider-zero-width-trigger {
  background: #1990FF !important;
}

// 加载颜色
#nprogress .bar {
  background: #7546C9 !important; //自定义颜色
}

